<!Doctype HTML>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd" crossorigin="anonymous"></script>
</head>

<body
    class="absolute top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
    <header class="text-white text-center mb-6 mt-6">
        <h1 class="text-3xl font-bold tracking-tight">
            Spline Cubico
        </h1>
        <p class="text-gray-500 dark:text-gray-400">
            Muestra la gráfica de un spline cubico.
        </p>
    </header>
    <div class="px-4 py-8 md:py-18 lg:px-6">
        <section>
            <div class="m-2 space-y-2">
                <div class="group flex flex-col gap-2 bg-black text-white" tabindex="1">
                    <div class="random acordeon flex cursor-pointer items-center justify-between bg-emerald-400 p-5 rounded-lg">
                        <span> Generar Autom&aacute;tico </span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
                            class="h-2 w-3 transition-all duration-500" />
                    </div>
                    <div
                        class="px-5 invisible h-auto max-h-0 items-center opacity-0 transition-all duration-1000">
                        <div class="grid grid-cols-6 md:grid-cols-8 gap-2">
                            <div class="text-white py-8 pb-8 grid  col-span-1 md:col-span-2 justify-center">
                                <div class="self-center">
                                    <label for="points" class="text-sm font-medium">Numero de puntos</label>
                                    <div class="flex">
                                        <input
                                            class="flex w-[65px] h-10 rounded-l-md border border-input text-black px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-700 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                            id="cantPuntos" placeholder="0" min="8" max="15" type="number" value="8">
                                        <div class="flex items-center gap-2">
                                            <button id="btn-generar-puntos"
                                                class="h-10 inline-flex items-center justify-center whitespace-nowrap rounded-r-md border-rose-400 text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-rose-500 px-4 py-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                                                </svg>

                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group flex flex-col gap-2 bg-black text-white" tabindex="2">
                    <div class="acordeon flex cursor-pointer items-center justify-between bg-emerald-400 rounded-lg p-5">
                        <span> Ingreso Manual </span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
                            class="h-2 w-3 transition-all duration-500" />
                    </div>
                    <div
                        class="px-5 invisible bg-black h-auto max-h-0 items-center opacity-0 transition-all duration-1000">
                        <div>
                            <form id="formManual">
                                <div class="grid grid-cols-2 w-24 mb-4 justify-center">
                                    <div class="flex-col text-center">
                                        <label for="coordenadaX">X</label>
                                        <div class="x text-black"><input class="w-8 h-8 rounded-md text-center" type="number" name="x"></div>
                                    </div>

                                    <div class="flex-col text-center">
                                        <label for="coordenadaY">Y</label>
                                        <div class="y text-black"><input class="w-8 h-8 rounded-md text-center" type="number" name="y"></div>
                                    </div>
                                </div>

                                <button class="w-[100px] p-3 bg-rose-400 rounded-lg">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-5">
            <div class="text-white col-span-5 md:col-span-6 justify-center">
                <div class="flex h-full items-center justify-center fade-in">
                    <!-- <div class="overflow-x-auto"> -->
                    <table class="w-full shadow-md rounded-xl fade-in">
                            <tbody id="bodyTablePuntos" class="text-blue-gray-900">
                            </tbody>
                    </table>
                    <!-- </div> -->
                </div>
            </div>
        </section>
        <section class="text-white flex justify-center items-center py-8">
            <button id="btn-graficar"
                class="inline-flex items-center justify-center whitespace-nowrap border border-rose-400 rounded-md text-sm font-medium transition-colors disabled:opacity-50 text-primary-foreground hover:bg-rose-500 px-4 py-2 h-[36px]">
                Graficar spline
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
                </svg>

            </button>
        </section>
        <div class="w-[90%] h-auto flex justify-center mb-2">
            <div class="w-full h-[20%] text-white text-center" id="funcionS"></div>
        </div>
        <div class="w-[70%] h-[70%] m-auto">
            <canvas id="myChart" class="text-white"></canvas>
        </div>
    </div>
    <footer>

    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</html>